name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: 4ff849ac5c0d987bdf13786c42bc91a592d2f6aae9ccf25921e7facb43284b9202-d5a87de9bb7d41c7bb9dda93b3be1d7e5a31caa01bdcdb8f19f0e9e8ef6a19d38-00e6d8cb-b9c4-4e9e-9d4b-2cff5301e54d003ef5cc7
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/"
          api_location: ""
          output_location: "/"

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: 4ff849ac5c0d987bdf13786c42bc91a592d2f6aae9ccf25921e7facb43284b9202-d5a87de9bb7d41c7bb9dda93b3be1d7e5a31caa01bdcdb8f19f0e9e8ef6a19d38-00e6d8cb-b9c4-4e9e-9d4b-2cff5301e54d003ef5cc7
          action: "close"
